@page "/"

<PageTitle>Prime Results</PageTitle>

@using A2.Dashboard.Data
@using A2.Shared
@using System.Timers
@inject AnswerService AnswerService

<h1>Prime Results</h1>

<p>This page lists the 50 most recent prime number requests and the amount of time it took took to calculate.</p>

@if (_answers == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Time Taken (ms)</th>
            <th>Prime Numbers</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var answer in _answers)
        {
            <tr>
                <td>@answer.TimeTaken</td>
                <td>@string.Join(",",answer.Answer)</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<AnswerDto>? _answers;
    private static readonly Timer Timer = new(1000);

    protected override Task OnInitializedAsync()
    {
        Timer.Elapsed += CountDownTimer;
        Timer.Enabled = true;
        _answers = GetReversedAnswers();
        return Task.CompletedTask;
    }

    private async void CountDownTimer(object? source, ElapsedEventArgs e)
    {
        await InvokeAsync(() =>
        {
            _answers = GetReversedAnswers();
            StateHasChanged();
            return Task.CompletedTask;
        });
    }

    private List<AnswerDto> GetReversedAnswers()
    {
        var answers = AnswerService.RecentAnswers.ToList();

        if (answers.Any())
        {
            answers.Reverse();
        }

        return answers;
    }

}